/* SLIDESHOW */
#gallery-id {
  display: flex;
  justify-content: center;
}

.slideshow-wrapper {
  background-color: var(--gray);
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px 20px;
  width: 90%;
  height: 100%;
  box-shadow: 3px 5px 10px var(--oxfordblue);
}

.slideshow-wrapper h2 {
  margin-top: 0;
  color: var(--silver);
}

.slideshow-container {
  max-width: 90%;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slideshow-item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
}

#back,
#next {
  cursor: pointer;
  position: absolute;
  top: 44%;
  padding: 11px 17px 17px 17px;
  color: var(--silver);
  font-weight: bold;
  font-size: 3rem;
  transition: 0.4s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
  z-index: 2;
}

#next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

#back:hover,
#next:hover {
  color: var(--smokywhite);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slideshow animation */
@keyframes slideIn {
  100% {
    left: 0;
  }
}

.slideInRight {
  left: -100%;
  animation: slideIn 0.6s ease-out forwards;
}

.slideInLeft {
  left: 100%;
  animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slideOutLeft {
  animation: slideOutLeft 0.6s ease-out forwards;
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slideOutRight {
  animation: slideOutRight 0.6s ease-out forwards;
}

/* Slideshow text and dots */
.info-text {
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.info-text p {
  color: var(--smokywhite);
  text-shadow: 0 0 5px black;
  font-size: 1.1rem;
  font-style: italic;
}

.dots-container {
  text-align: center;
  padding-top: 20px;
}

.dots {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 3px 3px;
  background-color: #717161;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s ease;
}

.enable,
.dots:hover {
  background-color: var(--smokywhite);
}
