* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

body {
  background-image: url(images/dark-starry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* TEXT */
h1 {
  color: white;
  font-size: 3rem;
  user-select: none;
}

h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

p {
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

/* NAVBAR */
nav {
  background-image: linear-gradient(to top, rgb(48, 48, 48), rgb(66, 66, 66));
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0 50px;
}

.nav-btn {
  margin: 0 10px;
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;
}

/* LOGO */
.logo {
  padding: 0 10px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-text_container {
  position: relative;
  left: 60px;
  z-index: 1;
}

.hero h2 {
  padding: 0 0 10px 0;
  letter-spacing: 0.2rem;
}

.hero p {
  max-width: 50ch;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0 10px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.hero-image {
  position: relative;
  right: 60px;
}

/* MAIN */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTIONS */
.sections {
  min-height: 100vh;
  width: 800px;
  padding-top: 50px;
}

.content-wrapper {
  background-color: rgb(55, 55, 55);
  border-radius: 50px;
  padding: 20px 0;
}

/* SLIDESHOW */
.slideshow-container {
  max-width: 90%;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow-item img {
  width: 100%;
}

#back,
#next {
  cursor: pointer;
  position: absolute;
  top: 44%;
  padding: 11px 17px 17px 17px;
  color: grey;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.4s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
  z-index: 2;
}

#next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

#back:hover,
#next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slideshow animation */
@keyframes slideIn {
100% {left: 0;}
}

.slideInRight {
  left: -100%;
  animation: slideIn 0.5s ease forwards;
}

.slideInLeft {
  left: 100%;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideOutLeft {
  100% {left: -100%;}
}

.slideOutLeft {
  animation: slideOutLeft 0.5s ease forwards;
}

@keyframes slideOutRight {
  100% {left: 100%;}
}

.slideOutRight {
  animation: slideOutRight 0.5s ease forwards;
}

/* Slideshow text and dots */
.info-text {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dots-container {
  text-align: center;
}

.dots {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 3px 3px;
  background-color: #717161;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s ease;
}

.enable,
.dots:hover {
  background-color: rgb(196, 196, 196);
}
