* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --night: #080a0c;
  --copper: #c06f35;
  --smokywhite: #f6f4f5;
  --silver: #b8b8b8;
  --oxfordblue: #00133d;
  --gray: #596673;
}

body {
  background-image: url(images/backgrounds/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

/* TEXT */
h1 {
  color: white;
  font-size: 3rem;
}

h2 {
  color: #080a0c;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}

p {
  color: rgb(13, 12, 12);
  line-height: 1.3;
}

header {
  display: flex;
  justify-content: center;
}

/* NAVBAR */
nav {
  background-image: linear-gradient(to top, rgb(48, 48, 48), rgb(66, 66, 66));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0 50px;
}

.nav-btn {
  margin: 0 10px;
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;
}

/* LOGO */
.logo {
  padding: 0 10px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-text_container {
  position: relative;
  left: 60px;
  z-index: 1;
}

.hero h2 {
  padding: 0 0 10px 0;
  letter-spacing: 0.2rem;
  color: white;
}

.hero p {
  max-width: 50ch;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0 10px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: white;
}

.hero-image {
  position: relative;
  right: 60px;
}

/* MAIN */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTIONS */
.sections {
  background: radial-gradient(
    circle,
    rgba(176, 179, 181, 1) 0%,
    rgba(155, 176, 214, 1) 100%
  );
  min-height: 100vh;
  width: 1000px;
  padding-top: 50px;
}

/* Facts */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#video {
  width: 420px;
  height: 345px;
  border: none;
  padding: 20px;
}

.list {
  background-image: linear-gradient(to top, rgb(48, 48, 48), rgb(66, 66, 66));
  width: 80%;
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-position: outside;
}

.list li {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  background-color: #777;
}

.expanding {
  width: 100%;
  background-color: #777;
  padding: 18px;
  cursor: pointer;
  text-align: left;
  color: white;
  font-size: 1rem;
  border: none;
}

.expanding:hover {
  background-color: #322e2e;
}

.content {
  width: 100%;
  padding: 5px 20px;
  display: none;
  background-color: whitesmoke;
}

/* SLIDESHOW */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-item {
  display: none;
}

.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.info-text {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dots-container {
  text-align: center;
}

.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #aac;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

.fade {
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

/* Stories */
#stories-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.story {
  display: flex;
  padding: 20px;
}
.story img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.venus-footer {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 30px;
  background-color: #322e2e;
}

.venus-footer a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.venus-footer a:hover {
  text-decoration: underline;
}
